@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.beer-of-the-day {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid #ebc713;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    right: 10%;
    bottom: 8%;
  }

  .beer-of-the-day > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div > h1{
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div> img{
    top: 0;
    margin: 0px;
    width: 20%;
  }

  .botd-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
  }

  .botd-nutri-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 15px;
    height: 90%;
    width: 100%;
    justify-content: center;
  }

  .botd-nutri-values > h2{
    margin: 0px;
    font-size: 36px;
  }

  .grid {
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 90%;
  }
  
  .grid-item {
    position: relative;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 26px;
  }
  
  .grid-item:nth-child(2n) {
    border-left: 1px solid black;
  }

  .grid-item:nth-child(4n){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .grid-item:nth-child(4n -1){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .fav-icon{
    background: none;
    border: none;
    font-size: 4.5rem;
    /* border: 40px; */
    cursor: pointer;
    padding-top: 0px;
    /* font-weight: bold; */
  }
  
  .fav-icon:hover{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"%3E%3C/path%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 4.5rem;
    opacity: 0.5;
  }

  .grid-header{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }

  .beer-list-button{
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }

  .beer-list-button:hover{
    text-decoration: underline;
    font-weight: bold;
    background-color: #e68900;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .beer-image {
    position: absolute;
    top: -50px; 
    left: 10%;
    width: 100px; 
  }

  .beer-page{
    background-image: url('../images/Beer.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .beer-header{
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(252, 124, 4, 0.31);
  }
  
  .beer-header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .beer-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid #ebc713;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    right: 10%;
    bottom: 8%;
  }
  
  .beer-list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-size: 36px;
    width: 100%;
  }
  
  .beer-list > div{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 36px;
  }
  
  .beer-list > div > h1{
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 36px;
  }
  
  .beer-list > div> img{
    top: 0;
    margin: 0px;
    width: 20%;
  }
  
  .beer-list-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
  }
  
  .scrollable-box{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .sorted-list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list-item{
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }
  
  .list-item:hover{
    font-weight: bold; 
    background-color: #ff9800;
    color: #fff;
    transform: translateY(-2px);
  }
  
  .list-item::before {
    content: "\1F37A"; /* Unicode for a beer mug emoji */
    margin-right: 10px;
    font-size: 20px;
  }
  
  .display-beer {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 50%;
    overflow: auto;
  }
  
  .display-beer > h1 {
    margin: 0px;
    max-height: 25%;
    width: 100%;
    font-size: 48px;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .beer-info {
    height: 75%;
    max-width: 100%;
  }
  
  .beer-info > p {
    margin: 0px;
    font-size: 18px;
  }
  
  .beer-info-header {
    margin: 5px;
    font-size: 30px;
  }
  
  .search-and-filter{
    display: flex;
    padding-left: 5px;
    width: 45%;
    flex-direction: row;
    padding: 10px;
    width: 100%;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    width: 45%;
  }
  
  .search-bar {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
  }
  
  .search-bar::placeholder {
    color: #ccc;
  }
  
  .search-button i {
    font-size: 24px;
  }
  
  .search-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    padding: 10px;
    margin-left: 5px;
  }
  
  .no-matches-message{
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #ff9800;
  }
  
  .search-back-button{
    background-color: #ff9800;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .search-back-button:hover {
    background-color: #e68900;
  }

  /* Media Queries */
@media (max-width: 1200px) {
    .beer-page {
        height: 850px; /* Change height to auto for smaller screens */
    }
    .beer-of-the-day {
        height: fit-content;
        width: 70%;
        right: 3%;
    }
    .beer-list{
        height: 700px;
        width: 70%;
        right: 3%;
    }
}
@media (min-width: 1200px){
    .beer-of-the-day {
        height: 700px;
        width: 60%; /* Adjust width for smaller screens */
        right: 5%;
    }
    .botd-content{
        padding-top: 10px;
    }
    .beer-list {
        height: 700px;
        width: 60%; /* Adjust width for smaller screens */
        right: 5%;
    }
    .beer-page {
        height: 900px; /* Change height to auto for smaller screens */
    }
}


@media (max-width: 1024px) {
    .beer-page {
        height: auto; /* Maintain height auto */
        padding: 20px;
    }
    .beer-of-the-day {
        width: 70%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .beer-page {
        height: auto; /* Maintain height auto */
        padding: 15px; /* Adjust padding for smaller screens */
    }
    .beer-of-the-day {
        width: 80%; /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .beer-page {
        height: auto; /* Maintain height auto */
        padding: 10px; /* Adjust padding for mobile screens */
    }
    .beer-of-the-day {
        width: 90%; /* Adjust width for mobile screens */
    }
}