.home-page {
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(197, 174, 26, 0.31);
    padding: 15px 0;
    align-items: center;
    position: relative;
  }

  .header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .menu{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #e3d61e;
  }

  .wine-header{
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(102, 11, 31, 0.31);
  }

  .wine-header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .wine-menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .wine-menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #b01e4c;
  }

  .login-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(160, 82, 45, 0.31);
    padding: 15px 0;
    align-items: center;
    position: relative;
  }

  .login-header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .login-menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .login-menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #913704;
  }
  
  .logo-img {
    position: absolute;
    top: 10px; 
    left: 15px;
    height: 120px; 
    z-index: 10; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1075px;
    /*background-image: url('./images/Bar_pic.jpeg');*/
    background-image: url('./images/BlankBackgroundImage.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .content > div{
    justify-content: right;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(8px);
    border: 10px solid #e0bf19;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 7%;
    top: 32%;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 30px;
    width: 50%;
  }
  .about-us > h1{
    text-decoration: underline;
    font-size: 36px;
  }

  .about-us > p{
    font-weight: normal;
    line-height: 1.55;
  }

  #AU, #BOTD{
    flex: 1;
  }
  
  .beer-of-the-day {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid #ebc713;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    left: 10%;
    bottom: 15%;
  }

  .beer-of-the-day > div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div > h1{
    justify-content: space-between;
    /* text-decoration: underline; */
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div> img{
    top: 0;
    margin: 0px;
    width: 20%;
  }

  .botd-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    height: 100%;
  }

  .botd-nutri-values{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
  }

  .botd-nutri-values > h2{
    margin: 0px;
    font-size: 36px;
  }

  .grid {
    padding: 35px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  
  .grid-item {
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 26px;
  }
  
  .grid-item:nth-child(2n) {
    border-left: 1px solid black;
  }

  .grid-item:nth-child(4n){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .grid-item:nth-child(4n -1){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .fav-icon{
    font-size: 4.5rem;
    /* border: 40px; */
    cursor: pointer;
    padding-top: 0px;
    /* font-weight: bold; */
  }
  
  .fav-icon:hover{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"%3E%3C/path%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 4.5rem;
    opacity: 0.5;
  }

  .grid-header{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .beer-image {
    position: absolute;
    top: -50px; 
    left: 10%;
    width: 100px; 
  }
  
  .footer {
    background-color: #d3a625;
    height: 100px;
  }
  
  .beerTap {
    display: flex;
    justify-content: left;
    padding-right: 100px;
    height: 650px;
    width: auto;
  }
  
  .beerFooter{
    position: absolute;
    width: 100%;
    z-index: 1000;
    opacity: 0.93;
    top: 45%;
    right: 0%;
  }

.login-page {
  text-align: center;
}

.loginContent {
  position: relative;
  height: 1075px;
  background-image: url('./images/Bar_pic.jpeg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #a0522d;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box > h1{
  margin-top: 0px;
}

.input-form {
    margin-bottom: 15px;
    text-align: left;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input-box {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button, .register-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #a0522d;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover, .register-button:hover {
    background-color: #8b4513;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  margin: 150px 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;  
}

.wine-page{
  background-image: url('./images/wine2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wine-box{
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #660b1f;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.wine-box > h1{
  font-weight: bold;
}

.beer-page{
  background-image: url('./images/Beer.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.beer-content{
}

.beer-header{
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgba(252, 124, 4, 0.31);
}

.beer-header > div {
  color: white;
  font-size: 22px;
  font-weight: bold;
  justify-content: inherit;
}

.beer-menu-button{
  background: none;
  color: white;
  cursor: pointer;
  padding-right: 75px;
}

.beer-menu-button:hover{
  text-decoration: underline;
  /* color: #a0522d; */
  color: #c25f0e;
}