  .home-page {
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(197, 174, 26, 0.31);
    padding: 15px 0;
    align-items: center;
    position: relative;
  }

  .header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .menu{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #e3d61e;
  }

  .wine-header{
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(102, 11, 31, 0.31);
  }

  .wine-header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .wine-menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .wine-menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #b01e4c;
  }

  .login-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(160, 82, 45, 0.31);
    padding: 15px 0;
    align-items: center;
    position: relative;
  }

  .login-header > div {
    color: white;
    font-size: 22px;
    font-weight: bold;
    justify-content: inherit;
  }

  .login-menu-button{
    background: none;
    color: white;
    cursor: pointer;
    padding-right: 75px;
  }
  
  .login-menu-button:hover{
    text-decoration: underline;
    /* color: #a0522d; */
    color: #913704;
  }
  
  .logo-img {
    position: absolute;
    top: 10px; 
    left: 15px;
    height: 120px; 
    z-index: 10; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1075px;
    /*background-image: url('./images/Bar_pic.jpeg');*/
    background-image: url('./images/BlankBackgroundImage.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .content > div{
    justify-content: right;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(8px);
    border: 10px solid #e0bf19;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 7%;
    top: 32%;
    color: black;
    font-weight: bold;
    font-size: 24px;
    padding: 30px;
    width: 50%;
  }
  .about-us > h1{
    text-decoration: underline;
    font-size: 36px;
  }

  .about-us > p{
    font-weight: normal;
    line-height: 1.55;
  }

  #AU, #BOTD{
    flex: 1;
  }
  
  .beer-of-the-day {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid #ebc713;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    right: 10%;
    bottom: 8%;
  }

  .beer-of-the-day > div{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div > h1{
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 36px;
  }

  .beer-of-the-day > div> img{
    top: 0;
    margin: 0px;
    width: 20%;
  }

  .botd-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    padding-bottom: 10px;
  }

  .botd-nutri-values{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 15px;
    height: 90%;
    width: 100%;
    justify-content: center;
  }

  .botd-nutri-values > h2{
    margin: 0px;
    font-size: 36px;
  }

  .grid {
    padding: 20px;
    padding-bottom: 15px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 90%;
  }
  
  .grid-item {
    position: relative;
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 26px;
  }
  
  .grid-item:nth-child(2n) {
    border-left: 1px solid black;
  }

  .grid-item:nth-child(4n){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .grid-item:nth-child(4n -1){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .fav-icon{
    background: none;
    border: none;
    font-size: 4.5rem;
    /* border: 40px; */
    cursor: pointer;
    padding-top: 0px;
    /* font-weight: bold; */
  }
  
  .fav-icon:hover{
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16"%3E%3Cpath fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"%3E%3C/path%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 4.5rem;
    opacity: 0.5;
  }

  .grid-header{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
  }

  .beer-list-button{
    align-self: flex-start;
    justify-self: flex-end;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
    background: none;
    padding: 10px;
  }

  .beer-list-button:hover{
    text-decoration: underline;
    font-weight: bold;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .beer-image {
    position: absolute;
    top: -50px; 
    left: 10%;
    width: 100px; 
  }
  
  .footer {
    background-color: #d3a625;
    height: 100px;
  }
  
  .beerTap {
    display: flex;
    justify-content: left;
    padding-right: 100px;
    height: 650px;
    width: auto;
  }
  
  .beerFooter{
    position: absolute;
    width: 100%;
    z-index: 1000;
    opacity: 0.93;
    top: 45%;
    right: 0%;
  }

.login-page {
  text-align: center;
}

.loginContent {
  height: 1075px;
  background-image: url('./images/Bar_pic.jpeg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.login-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #a0522d;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    min-height: 300px;    
}

.login-box.register {
  min-height: 600px;
  top: 88%;
}

.input-form {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  margin-top: 8px;
  font-size: 20px;
  color: #8b4513;
  font-family: 'Ubuntu', sans-serif;
}

.input-box {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-button, .register-button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #a0522d;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

.login-button:hover, .register-button:hover {
    background-color: #8b4513;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  margin: 100px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.switch-container {
  position: relative;
  width: 180px;
  height: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 20px;
  color: white;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 50%;
  left: 4px;
  bottom: 4px;
  background-color: #a0522d;
  transition: .4s;
  border-radius: 21px;
}

input:checked + .slider:before {
  transform: translateX(80px);
  background-color: #8b4513;
}

.slider-label {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  transition: .4s;
  font-size: 20px; 
}

.login-label {
  margin-right: auto;
}

.register-label {
  margin-left: auto;
}

/* Media Queries */
@media (min-width: 768px) {
  .login-box {
      width: 70%;
      top: 80%;
  }
  .login-box.register {
    width: 60%;
    top: 107%;
  }
  .about-us{
    left: 16%;
    top: 15%;
  }
}

@media (min-width: 1024px) {
  .login-box {
      width: 50%;
      top: 65%;
  }
  .login-box.register {
    width: 40%;
    top: 88%;
  }
  .about-us{
    left: 13%;
    top: 25%;
  }
}

@media (min-width: 1200px) {
  .login-box {
      width: 40%;
      top: 65%;
  }
  .login-box.register {
    width: 40%;
    top: 88%;
  }
  .about-us{
    left: 10%;
    top: 15%;
  }
}

@media (min-width: 1600px) {
  .login-box {
      width: 40%;
      top: 65%;
  }
  .login-box.register {
    width: 40%;
    top: 65%;
  }
  .about-us{
    left: 8%;
    top: 25%;
  }
}

.wine-page{
  background-image: url('./images/wine2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.wine-box{
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px solid #660b1f;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.wine-box > h1{
  font-weight: bold;
}

.beer-page{
  background-image: url('./images/Beer.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.beer-header{
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgba(252, 124, 4, 0.31);
}

.beer-header > div {
  color: white;
  font-size: 22px;
  font-weight: bold;
  justify-content: inherit;
}

.beer-menu-button{
  background: none;
  color: white;
  cursor: pointer;
  padding-right: 75px;
}

.beer-menu-button:hover{
  text-decoration: underline;
  /* color: #a0522d; */
  color: #c25f0e;
}

.beer-list{
  display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid #ebc713;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    right: 10%;
    bottom: 8%;
}

.beer-list-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  font-size: 36px;
}

.beer-list > div{
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px;
  font-size: 36px;
}

.beer-list > div > h1{
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 5px;
  margin: 0px;
  font-size: 36px;
}

.beer-list > div> img{
  top: 0;
  margin: 0px;
  width: 20%;
}

.beer-list-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 10px;
  overflow: hidden;
}

.scrollable-box{
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sorted-list{
  font-size: 24px;
  margin: 5px;
  padding: 5px;
}

.list-item{
  cursor: pointer;
}

.list-item:hover{
  font-weight: bold;
}

.display-beer {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  width: 50%;
}

.display-beer > h1 {
  margin: 0px;
  max-height: 25%;
  width: 100%;
  font-size: 48px;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.beer-info {
  height: 75%;
  max-width: 100%;
}

.beer-info > p {
  margin: 0px;
  font-size: 18px;
}

.beer-info-header {
  margin: 5px;
  font-size: 30px;
}

.search-and-filter{
  display: flex;
  padding-left: 5px;
  width: 45%;
  flex-direction: row;
}

.search-bar {
  width: 50%;
}

.search-bar:focus{
  text-decoration-color: rgba(202, 195, 195, 0.75);
}

.search-button{
  width: 15%;
}

.no-matches-message{
  list-style-type: none;
  font-size: 48px;
  text-align: center;
  padding: 0px;
}

.search-back-button{
  position: relative;
  left: 5%;
}
